<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tbsshrdev.com Impressum</title>
  <link rel="stylesheet" href="/css/style.css" />
  <!-- <link rel="stylesheet" href="/public/css/style.css" /> -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+Multani&family=Poppins&display=swap"
    rel="stylesheet"
  />
  <link rel="icon" href="images/black-and-white.png" />
</head>
<body>
  <div class="impressum">
    <h1>Impressum</h1>
    <br>
    <p>Content of Impressums Regulations § 5 TMG. </p>
    <br>
    <p>Website-Owner: Tobias Schröder</p>
    <p>Company Name: Tobias Schröder</p>
    <p>Kleinunternehmer Regulations § 19 UStG</p>
    <p>Taxnumber: 17/520/01033, Tax-ID: 87094712636</p>
    <p>Adress: Holländerstraße 36N, 13407 Berlin Germany</p>
    <p>Email: schroeder-tobias@hotmail.de</p>
    <p>Phone: 0172 6765936</p>
    <br>
    <p>All declarations <strong>2024</strong></p>
  </div>
    <!-- FOOTER -->
    <div class="footer">
      <hr class="hr-footer" />
      <p>Copyright © 2024, Tobias Schröder</p>
    </div>
</body>
</html>